$gutter: 20px;
$gridwidth: 1200px;
$desktop: 1200px;
$tablet: 800px;

$body: 'Soleil', Helvetica, Segoe UI, sans-serif;

$black: #1A190C;
$darkgrey: #545343;
$lightgrey: #E6E5DB;
$orange: #D2961D;
$yellow: #D2AF1D;
$lightyellow: #EFE8A5;
