@import 'bourbon/bourbon';

@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';
@import 'base/elements';

@import 'grid';
@import 'typography';
@import 'links';
@import 'footer';

.file-upload-button {
  position: relative;
  width: 7em;
  height: 2em;
  text-align: center;
}

.file-upload-button:after {
  content: 'Select file';
  position: absolute;
  top: 0.3em;
  width: 100%;
  left: 0;
  text-align: center;
}
